<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name, class: "label" %>
    <%= f.text_field :name, class: "input", placeholder: "e.g Alex Smith" %>
  </div>

  <div class="field">
    <%= f.label :email, class: "label"  %>
    <%= f.email_field :email, class: "input", placeholder: "e.g. alexsmith@gmail.com" %>
  </div>


  <br>
  <div class="has-text-centered">
    <%= f.submit yield(:button_text), class: "button is-primary is-rounded" %>
  </div>
<% end %>
