<div class="columns">
  <div class="column has-text-centered">
    <div class="box">
      <h3 class="title is-3">Owned Events (<%= @userowner.count %>)</h3>
      <ul>
        <% @userowner.each do |event| %>
          <li><%= event.title %></li>
          <li><%= event.schedule.to_date %></li>
          <li><%= event.description %></li>
          <p>Number of Participants <%= link_to event.assistents.count, event_assistents_url(event_id: event.id)  %></p>
          <br><br>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="column has-text-centered">
    <div class="box">
      <h3 class="title is-3">As Participant (<%= @userassistent.count %>)</h3>
      <ul>
        <% @userassistent.each do |event| %>
          <li><%= event.title %></li>
          <li><%= event.schedule.to_date%></li>
          <li><%= event.description %></li>
          <% if logged_in? %>
            <% if event.owner != current_user && !current_user.assistent?(event) %>
              <%= link_to 'Check-in!', event_checkin_url(event_id: event.id), method: :post %>
            <% end %>
          <% else %>
            <%= link_to 'Check-in!', event_checkin_url(event_id: event.id), method: :post %>
          <% end %>
          <br><br>
        <% end %>
      </ul>
    </div>
  </div>
</div>
