<div class="columns">
  <div class="column has-text-centered">
    <div class="box">
      <h3 class="title is-3">Owned Events (Upcoming Events)(<%= @userownerfuture.count %>)</h3>
      <ul>
        <% @userownerfuture.each do |event| %>
          <li><%= event.title %></li>
          <li><%= event.schedule.to_date %></li>
          <li><%= event.description %></li>
          <p>Number of Participants <%= link_to event.assistents.count, event_attendances_path(event_id: event.id)  %></p>
          <br><br>
        <% end %>
      </ul>
      <br><br>
      <hr>
      <h3 class="title is-3">Owned Events (Past Events)(<%= @userownerpast.count %>)</h3>
      <ul>
        <% @userownerpast.each do |event| %>
          <li><%= event.title %></li>
          <li><%= event.schedule.to_date %></li>
          <li><%= event.description %></li>
          <p>Number of Participants <%= link_to event.assistents.count, event_attendances_path(event_id: event.id)  %></p>
          <br><br>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="column has-text-centered">
    <div class="box">
      <h3 class="title is-3">As Participant(Upcoming Events) (<%= @userassistentfuture.count %>)</h3>
      <ul>
        <% @userassistentfuture.each do |event| %>
          <li><%= event.title %></li>
          <li><%= event.schedule.to_date%></li>
          <li><%= event.description %></li>
          <% if logged_in? %>
            <% if event.owner != current_user && !current_user.assistent?(event) %>
              <%= link_to 'Check-in!', event_attendances_path(event_id: event.id), method: :post %>
            <% end %>
          <% else %>
            <%= link_to 'Check-in!', event_attendances_path(event_id: event.id), method: :post %>
          <% end %>
          <br><br>
        <% end %>
      </ul>
      <br><br>
      <hr>
      <h3 class="title is-3">As Participant(Past Events) (<%= @userassistentpast.count %>)</h3>
      <ul>
        <% @userassistentpast.each do |event| %>
          <li><%= event.title %></li>
          <li><%= event.schedule.to_date%></li>
          <li><%= event.description %></li>
          <% if event.owner != current_user && !current_user.assistent?(event) %>
            <%= link_to 'Check-in!', event_attendances_path(event_id: event.id), method: :post %>
          <% end %>
          <br><br>
        <% end %>
      </ul>
    </div>
  </div>
</div>
