<div class="col-md-8">
  <h3>Events (<%= @user.count %>)</h3>
  <ol class="microposts">
    <% @user.each do |event| %>
      <h3><%= event.title %></h3>
      <p><%= event.schedule %></p>
      <p><%= event.description %></p>
      <p><%= link_to event.assistents.count, event_assistents_url(event_id: event.id)  %></p>
    <% end %>
  </ol>
</div>
