<% if logged_in? %>
  <%= link_to '<button type="button" class="btn btn-primary btn-lg">Create Event +</button>'.html_safe, new_event_path %>
<% end %>

<h1>All events</h1>

<div class="container">
  <div class="row">
    <div class="col-4">
      <ul>
        <% @eventsupcoming.each do |event| %>
          <li><%= event.title %></li>
          <li><%= event.schedule %></li>
          <li><%= event.description %></li>
          <% if logged_in? %>
            <% if event.owner != current_user && !current_user.assistent?(event) %>
              <%= link_to 'Check-in!', event_checkin_url(event_id: event.id), method: :post %>
            <% end %>
          <% else %>
            <%= link_to 'Check-in!', event_checkin_url(event_id: event.id), method: :post %>
          <% end %>
          <br><br>
        <% end %>
      </ul>
    </div>

    <div class="col-4">
      <ul>
        <% @eventspast.each do |event| %>
          <li><%= event.title %></li>
          <li><%= event.schedule %></li>
          <li><%= event.description %></li>
          <% if logged_in? %>
            <% if event.owner != current_user && !current_user.assistent?(event) %>
              <%= link_to 'Check-in!', event_checkin_url(event_id: event.id), method: :post %>
            <% end %>
          <% else %>
            <%= link_to 'Check-in!', event_checkin_url(event_id: event.id), method: :post %>
          <% end %>
          <br><br>
        <% end %>
      </ul>
    </div>
  </div>
</div>
