<br>
<% if logged_in? %>
  <%= link_to '<button type="button" class="button is-info is-large">Create Event +</button>'.html_safe, new_event_path %>
<% end %>

<h1 class="title is-1 has-text-centered">All events</h1>


<div class="columns">
  <div class="column has-text-centered">
    <div class="box">
      <h3 class="title is-3">Past Events</h3>
      <ul>
        <% @eventspast.each do |event| %>
          <li><%= event.title %></li>
          <li><%= event.schedule.to_date %></li>
          <li><%= event.description %></li>
          <br><br>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="column has-text-centered">
    <div class="box">
      <h3 class="title is-3">Future Events</h3>
      <ul>
        <% @eventsupcoming.each do |event| %>
          <li><%= event.title %></li>
          <li><%= event.schedule.to_date%></li>
          <li><%= event.description %></li>
          <% if logged_in? %>
            <% if event.owner != current_user && !current_user.assistent?(event) %>
              <%= link_to 'Check-in!', event_attendances_path(event_id: event.id), method: :post %>
            <% end %>
          <% else %>
            <%= link_to 'Check-in!', event_attendances_path(event_id: event.id), method: :post %>
          <% end %>
          <br><br>
        <% end %>
      </ul>
    </div>
  </div>
</div>
