<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body class="Site">
    <%= render 'layouts/header' %>
    <%= render partial: "partials/flash_messages", flash: flash %>

    <div class="Site-content">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
